body{
    color: #413e3e;
    font-family: 'Montserrat', serif;
    margin: 0;
    text-align: center;
}

/* navbar style */
.nav{
    background-color: #EAF6F6;
}

.nav a{
    /* float: left; */
    color: #455d80;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    position: relative;
    left: 30%;
}

.nav a:active{
    background-color: #455d80;
    color: #fff;
}

.the-icon{
    visibility: hidden;
}

/* media query for toggler */
@media screen and (max-width: 1150px) {
    .nav a{
        left: 17%;
    }
}


@media screen and (max-width: 700px) {
  
    .nav a{
        display: block;
        font-size: 1.2rem;
        width: 30%;
        text-align: left;
        margin-left: -18%;
        margin-top: 2%;
    }

    .nav {
        display: none;
    }

    .the-icon{
        display: block;
        font-size: xx-large;
        position: absolute;
        top: 5%;
        left: 90%;
        visibility: visible;
    }
}

.nav a:hover{
    color: #94a7c4;
}

.top_container{
    background-color: #EAF6F6;
    margin-top: 0;
    padding-top: 50px;
    position: relative;
}

h1{
    color: #455d80;
    font-family: 'sacramento', 'cursive';
    font-size: 5rem;
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
}

h2{
    color: #455d80;
    font-family: 'montserrat', 'san-serif';
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color: #455d80;
    font-family: 'montserrat', 'san-serif';
}

a{
    color: #455d80;
    text-decoration: none;
}

.profile{
    margin: 0px auto 50px;
}

.skill_row{
    line-height: 2;
    margin: 50px auto;
    padding: 0 0 1rem;
    text-align: left;
    width: 60%;
}


.skills_pic{
    width: 10rem;
    float: left;
    margin-right: 30px;
}

.skills_pic2{
    width: 10rem;
    float: right;
    margin-left: 0;
}

@media screen and (max-width: 500px) {
    .skills_pic2{
        float: left;
    }
}

.ppic{
    width: 10rem;
    margin: 50px auto 0;
}

.b_class{
    position: absolute;
    right: 10%;
    width: 10%;
}

.t_class{
    position: relative;
    right: 30%;
    width: 15%;
}

.middle_container{
    background-color: #f3fcfc;
    margin: 0 auto 0;
}

.middle_container p{
    line-height: 2;
}

hr{
    border: 6px dotted rgb(212, 226, 224);
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}

.contact_me{
    width: 50%;
    margin: 0 auto 50px;
}

button{
    background-color: #455d80;
    border: 2px solid #455d80;
    border-radius: 5px;
    margin: 20px auto 50px;
    padding: 5px;
}

button:hover{
    background-color: #455d80;
    border: #455d80;
}

.contact_me a{
    background-color: #455d80;
    color: white;
    font-family: 'montserrat', 'san-serif';
    font-size: 1rem;
    font-weight: bold;
}

.contact_me a:hover{
    background-color: #455d80;
}

#bottom_container{
    background-color: #455d80;
    margin: -50px auto -20px;
}

#bottom_container a{
    color: #9db2d1;
    display: inline-block;
    font-family: 'montserrat', 'san-serif';
    font-size: 18px;
    margin: 30px auto 0;
    width: 7rem;
}

#bottom_container a:hover{
    color: #EAF6F6;
}

#bottom_container p{
    color: #EAF6F6;
    font-family: 'montserrat', 'san-serif';
    font-size: 14px;
    margin: 20px auto;
    padding: 30px;
    width: 12rem;
}


/* styles for the about page */

.profile-about{
    width: 50%;
    padding-bottom: 2%;
}

.profile-about p{
    text-align: left;
}

/* styles for work page */
.work-pic{
    width: 20rem;
    margin: 50px auto 0;
}

/* .profile p{
    text-align: left;
}
.profile a{
    text-align: left;
} */
.profile ul{
    text-align: left;
}


.work-prof{
    margin-bottom: -10%;
    padding-bottom: 2%;
}

.mountain-top{
    width: 10px !important;
}
